service: mb-incoming-sync
app: mbplus

provider:
  name: aws
  runtime: nodejs12.x

  stage: dev
  region: eu-central-1

  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:GetObject
        - s3:PutObject
        - s3:PutObjectAcl
      Resource: "arn:aws:s3:::${self:custom.bucket}/*"


functions:
  mb-incoming-sync:
    handler: handler.main
    events:
      - http:
          path: mb-incoming-sync/{admin}
          method: get
          request:
            parameters:
              paths:
                admin: true            
      - http:
          path: mb-incoming-sync/{admin}
          method: post
          request:
            parameters:
              paths:
                admin: true